@model LibraryManagementSystem.Models.Book

@{
    ViewData["Title"] = "Create";
}
<div class="page-width">
<h2 class="header-color-create">Create</h2>

<h4>Book</h4>
<hr />
<form asp-action="Create" id="book-create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="alert-danger alert-text"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="ISBN" class="control-label"></label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="PublicationYear" class="control-label"></label>
                    <input asp-for="PublicationYear" class="form-control" />
                    <span asp-validation-for="PublicationYear" class="alert-danger alert-text"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="Edition" class="control-label"></label>
                    <input asp-for="Edition" class="form-control" />
                    <span asp-validation-for="Edition" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="Publisher" class="control-label"></label>
                    <input asp-for="Publisher" class="form-control" />
                    <span asp-validation-for="Publisher" class="alert-danger alert-text"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="DeweyIndex" class="control-label"></label>
                    <input asp-for="DeweyIndex" class="form-control" />
                    <span asp-validation-for="DeweyIndex" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="Language" class="control-label"></label>
                    <input asp-for="Language" class="form-control" />
                    <span asp-validation-for="Language" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" multiple class="form-control" id="genreSelect1">
                    <option>Literary Fiction</option>
                    <option>Mystery</option>
                    <option>Thriller</option>
                    <option>Horror</option>
                    <option>Historical</option>
                    <option>Romance</option>
                    <option>Western</option>
                    <option>Buildungsroman</option>
                    <option>Speculative Fiction</option>
                    <option>Science Fiction</option>
                    <option>Fantasy</option>
                    <option>Magical Realism</option>
                    <option>Dystopian</option>
                    <option>Realist Literature</option>
                </select>
                <span asp-validation-for="Genre" class="alert-danger alert-text"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Summary" class="alert-danger alert-text"></span>
           </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="NoOfPages_LengthTime" class="control-label"></label>
                    <input asp-for="NoOfPages_LengthTime" class="form-control" />
                    <span asp-validation-for="NoOfPages_LengthTime" class="alert-danger alert-text"></span>
                </div>
           </div>
           <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="NumberOfCopies" class="control-label"></label>
                    <input asp-for="NumberOfCopies" class="form-control" />
                    <span asp-validation-for="NumberOfCopies" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="CopiesAvailable" class="control-label"></label>
                    <input asp-for="CopiesAvailable" class="form-control" />
                    <span asp-validation-for="CopiesAvailable" class="alert-danger alert-text"></span>
                </div>
            </div>
           <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="AvailabilityStatus.Name" class="control-label"></label>
                    <select asp-for="AvailabilityStatus.Name" class="form-control" id="availabilityStatusSelect1">
                        <option value="LOST">Lost</option>
                        <option value="GOOD_CONDITION">Good Condition</option>
                        <option value="UNKNOWN_CONDITION">Unknown Condition</option>
                        <option value="DESTROYED">Destroyed</option>
                    </select>
                    <span asp-validation-for="AvailabilityStatus.Name" class="alert-danger alert-text"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-auto">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control" id="TypeSelect1">
                            <option>Book</option>
                            <option>Audio Book</option>
                        </select>
                    <span asp-validation-for="Type" class="alert-danger alert-text"></span>
                </div>
                <div class="form-group col-auto">
                    <label asp-for="Location.Name" class="control-label">Name of Library Branch</label>                    
                    <div class="input-group">
                    <select asp-for="Location.Name" class="form-control" id="exampleFormControlSelect1" placeholder="Home Library Branch" required>
                        <option value="" selected disabled>Please Select</option>
                        <option value="Downtown">Downtown</option>
                        <option value="Oakville">Oakville</option>
                        <option value="Pacific Branch">Pacific Branch</option>
                    </select>                
                    </div>  
                    <span asp-validation-for="Location.Name" class="alert-danger alert-text"></span>
                </div> 
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="alert-danger alert-text"></div>
            <div class="form-group">
                <label asp-for="BookImage" style="width: 100%;"></label>
@*                @if (Model.BranchImage != null)
                {
                    <img id="branchImage" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.BranchImage))">
                }
                else
                {
                    <img id="branchImage" style="width:350px;height:350px; object-fit:cover" src="">
                }*@
                <img id="bookImage" style="width:350px;height:500px; object-fit:contain" src="">
                <input type="file"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="BookImage"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('bookImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="BookImage" class="alert-danger alert-text"></span>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
