@model LibraryManagementSystem.Models.CheckoutFullModel

@{
    ViewData["Title"] = "Create";
}
<div class="page-width">
<h2 class="header-color-create">Create</h2>

<h4>Checkout</h4>
<hr />
<div class="row">  
    <div class="col-md-12">  
        <div class="form-group">  
            @Html.Raw(@ViewBag.Alert)  
        </div>  
    </div>  
</div>  
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patron.FirstName" class="control-label"></label>
                <input asp-for="Patron.FirstName" class="form-control" />
                <span asp-validation-for="Patron.FirstName" class="alert-danger alert-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patron.LastName" class="control-label"></label>
                <input asp-for="Patron.LastName" class="form-control" />
                <span asp-validation-for="Patron.LastName" class="alert-danger alert-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patron.Email" class="control-label"></label>
                <input asp-for="Patron.Email" class="form-control" />
                <span asp-validation-for="Patron.Email" class="alert-danger alert-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="alert-danger alert-text"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedOutSince" class="control-label"></label>
                <input asp-for="CheckedOutSince" class="form-control" />
                <span asp-validation-for="CheckedOutSince" class="alert-danger alert-text"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CheckedOutUntil" class="control-label"></label>
                <input asp-for="CheckedOutUntil" class="form-control" readonly/>
                <span asp-validation-for="CheckedOutUntil" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
