@{
    ViewData["Title"] = "Home Page";
}

<style>

    .body-container {
        /*remove the container default padding attribute*/
        padding-left: 0px !important;
        padding-right: 0px !important;
        /*increase width as per your need*/
        max-width: 100%;
    }
</style>

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="container-image">
    <img src="~/images/home-bg.png" class="img-fluid" />
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-pos preface mt-10">
                    <h2>Our Features</h2>
                    <p>Our 3 Primary Features:</p>
                </div>
            </div>
        </div>
        <div class="row col-center">
            <div class="col-md-3">
                <div>
                    <img class="icon-pos" src="~/images/digital-inventory.png" />
                    <div class="text-pos descriptions">
                        <h4>Digital Book Inventory</h4>
                        <p class="text-justify">Our digital book inventory consists of a regularly updated list of titles that we can offer, from the regular classics to the newest bestsellers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img class="icon-pos" src="~/images/search-online.png" />
                    <div class="text-pos descriptions">
                        <h4>Search Books</h4>
                        <p class="text-justify">You can browse through our catalogue of available titles on this website and choose to lend whichever book You would like to read.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img class="icon-pos" src="~/images/defaulters-list.png" />
                    <div class="text-pos descriptions">
                        <h4>Defaulter List</h4>
                        <p class="text-justify">Adding new members is done through our respectful librarians, who carefully oversee the list of current potential members who are interested in joining the library.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <img src="~/images/in-homepage-banner.png" class="img-fluid" />
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-pos preface mt-10">
                    <h2>Our Process</h2>
                    <p>We have a simple 3 Step Process:</p>
                </div>
            </div>
        </div>
        <div class="row col-center">
            <div class="col-md-3">
                <div>
                    <img class="icon-pos" src="~/images/sign-up.png" />
                    <div class="text-pos descriptions">
                        <h4>Sign Up</h4>
                        <p class="text-justify">Get your own account for the purpose of loaning books by signing up at our website.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img class="icon-pos" src="~/images/search-online.png" />
                    <div class="text-pos descriptions">
                        <h4>Search Books</h4>
                        <p class="text-justify">
                            Browse through various titles and authors that you are curious to check out. Our books are also divided by different genres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img class="icon-pos" src="~/images/library.png" />
                    <div class="text-pos descriptions">
                        <h4>Visit Us</h4>
                        <p class="text-justify">
                            Come visit us at our website or current location! All books are loaned at our library.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>