@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="page-width">
<h1>@ViewData["Title"]</h1>
<div class="card border-success w-75 card-pos" style="position: relative">
    <div class="card-title text-success register-title">Use a local account to log in.</div>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-row form-row-login">
                <div class="col-md-7 form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="alert-danger alert-text"></span>
                </div>
                <div class="col-md-7 form-group">
                    <label asp-for="Input.Password"></label>
                    <div class="input-group" id="show_hide_password">
                    <input asp-for="Input.Password" class="form-control password" type="password" placeholder="Password" id="password">
                    <span class="input-group-text">
                    <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                    </span>
                    </div>
                    <span asp-validation-for="Input.Password" class="alert-danger alert-text"></span>
                </div>
              </div>
              <div class="form-row-login">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
              </div>
              <div class="form-row-login form-row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
              </div>
              <div class="form-row-login">
                <div class="form-group">
                    <p>
                        <a id="forgot-password" class="btn btn-outline-warning" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" class="btn btn-outline-success" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" class="btn btn-outline-info" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
               </div>
            </form>
</div>
<div>
    <br/>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info"><i class="fa fa-arrow-left"></i> Back Home</a>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
            $("#togglePassword").click(function (e) {
    e.preventDefault();
    var type = $(this).parent().parent().find("#password").attr("type");
    console.log(type);
    if(type == "password"){
        $(this).removeClass("fa-eye-slash");
        $(this).addClass("fa-eye");
        $(this).parent().parent().find("#password").attr("type","text");
    }else if(type == "text"){
        $(this).removeClass("fa-eye");
        $(this).addClass("fa-eye-slash");
        $(this).parent().parent().find("#password").attr("type","password");
    }});
    </script>
}
