@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="page-width">
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessageWarning" model="Model.StatusMessage" />
<div class="card border-success mb-3" style="position: relative">
    <div class="card-title text-success register-title">Create a new account.</div>
                <hr />
        <form asp-route-returnUrl="@Model.ReturnUrl" class="needs-validation" method="post" novalidate>
               @* <div asp-validation-summary="All" class="text-danger"></div>*@
             <div class="form-row form-row-align">
                <div class="col-md-5 form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" placeholder="First name" required/>
                    <span asp-validation-for="Input.FirstName" class="alert-danger alert-text"></span>
                </div>
                <div class="col-md-5 form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" placeholder="Last name" required/>
                    <span asp-validation-for="Input.LastName" class="alert-danger alert-text"></span>
                </div>  
              </div>
              <div class="form-row form-row-align">
                <div class="col-md-5 form-group">
                    <label asp-for="Input.UserName"></label>
                    <div class="input-group form-outline">
                    <span class="input-group-text" id="inputGroupPrepend2"><i class="fa fa-at"></i></span>
                    <input asp-for="Input.UserName" class="form-control" placeholder="Username" required/></div>
                    <span asp-validation-for="Input.UserName" class="alert-danger alert-text"></span>
                </div>
                <div class="col-md-5 form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" required/>
                    <span asp-validation-for="Input.Email" class="alert-danger alert-text"></span>
                </div>
             </div>
             <div class="form-row form-row-align">
                <div class="col-md-5 form-group">
                    <label asp-for="Input.Password"></label>
                    <div class="input-group" id="show_hide_password">
                    <input asp-for="Input.Password" class="form-control password" type="password" placeholder="Password"  id="password" minlength="8" required>
                    <span class="input-group-text">
                    <i class="fa fa-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                    </span>
		            <small id="passwordHelpBlock" class="form-text text-muted">
					            Your password must be at least 8 characters long, must contain special characters "!@@#$%&*_?", numbers and lower letters.
		            </small>
                    <span asp-validation-for="Input.Password" class="alert-danger alert-text"></span>
                    </div>
                </div>
                <div class="col-md-5 form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <div class="input-group" id="show_hide_password">
                    <input asp-for="Input.ConfirmPassword" class="form-control password" type="password" placeholder="Confirm Password" id="confirmpassword" required>
                      <span class="input-group-text">
                        <i class="fa fa-eye-slash" id="toggleConfirmPassword" style="cursor: pointer"></i>
                       </span>
                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="alert-danger alert-text"></span>
                </div>
            </div>
            <div class="form-row-align form-row">
                <div class="col-md-5 form-group">
                    <label asp-for="Input.DateOfBirth"></label>
                    <div type="date" class="input-group">
                    <input asp-for="Input.DateOfBirth" class="form-control" placeholder="Date Of Birth" required>
                </div>
                    <span asp-validation-for="Input.DateOfBirth" class="alert-danger alert-text"></span>
                </div>
                <div class="col-md-5 form-group">
                    <label asp-for="Input.HomeLibraryBranch"></label>
                    <div class="input-group">
                    <select asp-for="Input.HomeLibraryBranch" class="form-control" id="exampleFormControlSelect1" placeholder="Home Library Branch" required>
                        <option value="" selected disabled>Please Select</option>
                        <option value="Downtown">Downtown</option>
                        <option value="Oakville">Oakville</option>
                        <option value="Pacific Branch">Pacific Branch</option>
                    </select>                
                    </div>    
                    <span asp-validation-for="Input.HomeLibraryBranch" class="alert-danger alert-text"></span>
               </div>
            </div>
            <div class="form-row form-row-align">
            <div class="col-md-5 form-group">
                <label asp-for="Input.Address"></label>
                <div class="input-group">
                <input asp-for="Input.Address" class="form-control" placeholder="Address" required>
            </div>
                <span asp-validation-for="Input.Address" class="alert-danger alert-text"></span>
            </div>
            
            <div class="col-md-5 form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <div class="input-group">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" required>
            </div>
                <span asp-validation-for="Input.PhoneNumber" class="alert-danger alert-text"></span>
            </div>
            </div>
            <div class="form-row-align">
                <button type="submit" class="btn alert-success btn-lg">Register</button>
            </div>
                <br />
                <br />
     </form>
    </div>
<div>
    <br/>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-info"><i class="fa fa-arrow-left"></i> Back Home</a>
</div>
</div>

@section Styles {
    <style>
    a, a:hover{
        color:#333
    }
    </style>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
    $("#togglePassword").click(function (e) {
    e.preventDefault();
    var type = $(this).parent().parent().find("#password").attr("type");
    console.log(type);
    if(type == "password"){
        $(this).removeClass("fa-eye-slash");
        $(this).addClass("fa-eye");
        $(this).parent().parent().find("#password").attr("type","text");
    }else if(type == "text"){
        $(this).removeClass("fa-eye");
        $(this).addClass("fa-eye-slash");
        $(this).parent().parent().find("#password").attr("type","password");
    }});

        $("#toggleConfirmPassword").click(function (e) {
    e.preventDefault();
    var type2 = $(this).parent().parent().find("#confirmpassword").attr("type");
    console.log(type);
    if(type2 == "password"){
        $(this).removeClass("fa-eye-slash");
        $(this).addClass("fa-eye");
        $(this).parent().parent().find("#confirmpassword").attr("type","text");
    }else if(type2 == "text"){
        $(this).removeClass("fa-eye");
        $(this).addClass("fa-eye-slash");
        $(this).parent().parent().find("#confirmpassword").attr("type","password");
    }});
    </script>

}
