
@{
    ViewData["Title"] = "Not Found";
}
<div class="page-width">
<h2 class="header-color delete">Not Found!</h2>

<div>
    <h4>Branch Hour</h4>
    <hr />
    <div class="row">  
    <div class="col-md-12">  
        <div class="form-group">  
            @Html.Raw(@ViewBag.Alert)  
        </div>  
    </div>  
    </div> 
    <div class="row">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Not Found!</h4>
      <p>The Branch Hour that you have been looking for has not been found. <strong>Please check with the Branch Hour index or the details of the Branch Hour 
          in case said Branch Hour exists, but with a different name.</strong>
      </p>
      <hr>
      <p class="mb-0">Make sure to check all the details for the Branch Hour before further searching for it.</p>
    </div>
    </div>


    </div>
</div>